/*PHONES AND TABLETS*/
@media (max-width: 483px) {

    h2
    {
        font-size: 1.5em;
        font-weight: 300;
    }

    article h3
    {
        text-align: center;
    }

    .mainContainer
    {
        width: 100%;
    }

    .contentText
    {
        width: 100%;
    }

    #coverContainer
    {
        width: 100%;
    }

    .contentImageLeft
    {
        float: unset !important;
        display: block;
        margin: 1em auto !important;
    }

    .contentImageRight
    {
        float: unset !important;
        display: block;
        margin: 1em auto !important;
    }

/* ===== COVER IMAGES ===== */
/* ======================== */

    .coverTextbox
    {
        width: 100%;
        margin: 0;
        padding:0 1em 0 1em;
        align-self: center;
        text-align: center;
        /* border: solid 1px red; */
    }

    .coverTextbox h1
    {
        font-size: 2em;
        color: white;
        float: unset;
        margin: 0;
    }

    .coverTextbox h3
    {
        font-size: 1.1em;
        color: #fff;
        float: unset;
        margin-top: 0.5em;
    }

/* ===== FORM ===== */
/* ================*/

    #response
    {
        width: 60%;
    }
    
    /* MENU */

    .navContainer
    {
        width: 100%;
        height: 160px;
        padding: 0;
    }

    .navContainer .menu
    {	
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        font: 0.9em 'Open Sans',sans-serif;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 550;
        border-bottom: unset;
        /* border: solid 1px red; */
    }

    
    .navContainer .menu li /* Collapse Menu Items */
    {
        width: 100%;
        /* margin-top: 0.6em; */
        font-weight: bold;
        /* border: 1px solid red; */
    }

    .menu li a
    {
        /* position: relative; */
        width: 100%;
        float: left;
        text-align: left;
        /* margin-left: 1em; */
        line-height: 2.8em;
        padding-left: 1em;
        border-top: dotted 1px rgb(209, 209, 209);
        /* border: 1px solid red; */
    }

    /* ============================ */
    /* ===== IMAGES / GALLERY ===== */

    .thumbImg
    {
        margin: 1em 0 0 0;
        width: 100%;
        border: solid 1px #d3d3d3;
    }
}