/*PHONES AND TABLETS*/
@media (max-width: 992px) {
    .mainContainer
    {
        width: 100%;
    }

    .navContainer {
        width: 100%;
    }

    .itemDivider {
        display: none !important;
    }

    .contentText
    {
        width: 100%;
    }

/* ===== COVER IMAGES ===== */
/* ======================== */

    #coverContainer
    {
        width: 100%;
    }

/* ===== FORM ===== */
/* ================ */

    #formBox
    {
        width: 85%;
    }

/* ===== GALLERY ===== */
/* =================== */

    .thumbImg
    {
        /* padding: 5px; */
        margin: 1em -1px 0 0;
        border: solid 1px #d3d3d3;
    }
}