@media (max-width: 1312px) {

    /* ===== MAIN ===== */

    .mainContainer
    {
        width: 992px;
    }

    .navContainer {
        width: 992px;
    }

    #coverContainer
    {
        width: 992px;
    }

    #coverImg
    {
        width: 100%;
    }

    /* ===== FORM ===== */

    #formBox
    {
        width: 65%;
    }

    #response
    {
        width: 60%;
        height: 0px;
    }
}