* {
   margin: 0;
   padding: 0;
}

html {
	font-size: 100%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'proxima-nova', 'Calibri';
	background-color: #FAFAFA;
	background-image: url("../assets/images/bg.png")
	/*border-top: solid 25em #222222;*/
}

h1
{
	font-weight: 300;
	/* margin-bottom: 0.2em !important; */
}

h2
{
	font-size: 1.95em;
	font-weight: 300;
}

h3
{
	color: #adadad;
	font-size: 1.8em;
	font-weight: 200;
	/* margin-top: 1em !important; */
	/* margin-bottom: 0.5em !important; */
}

p
{
	font-size: 1.25em;
	font-weight: 300;
	margin-top: 1em;
}

hr
{
	border-color: black;
}

.dottedHr
{
	border-top: 1px dotted #c7c7c7;
	border-bottom: 0px solid #000;
}

.centerblock
{
	display: table;
	margin: 0 auto;
	text-align: center;
}

#topBorder /* the GRAY div on top of page */
{
	position: absolute;
	width: 100%;
	height: 25em;
	background-color: #222222;
	box-shadow: 5px 5px 5px #666; 
	-moz-box-shadow: 5px 5px 5px #666;
 	-webkit-box-shadow: 5px 5px 5px #666;
}

#coverContainer
{
	position: relative;
	/* width: 60%; */
	width: 1130px;
	margin: 0 auto;
	background-color: #FAFAFA;
	/*border: solid 1px red;*/
}

.mainContainer
{
	position: relative;
	margin: 0 auto;
	padding: 1.5em 1.8em 1.5em 1.8em;
	/* width: 60%; */
	width: 1130px;
	min-height: 300px;
	background-color: #FAFAFA;
	/* border: solid 1px red; */
}

#coverImg
{
	position: relative;
	display: flex;
	width: 1130px;
	height: 477px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1)
		),url("../assets/images/cover-vibrant.jpg");
}

.coverTextbox
{
	font-family: 'Barlow', 'Calibri';
	text-shadow: 0 1px 0 black;
	color: rgb(255, 255, 255);
	width: 450px;
	align-self: center;
	margin-left: 3em;
	/* border: solid 1px red; */
}

.coverTextbox h1
{
	font-size: 3.3em;
	color: white;
	float: left;
	margin: 0;
}

.coverTextbox h3
{
	font-size: 1.6em;
	color: rgb(255, 255, 255);
	float: right;
	margin-top: 0.3em;
}

#galleryCover
{
	width: 100%;
	height: 350px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url("../assets/images/coverGallery.jpg");
}

#contactCover
{
	width: 100%;
	height: 350px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url("../assets/images/pricesCover.jpg");
}

.headlineH1
{
	margin-bottom: 1em;
}

article
{
	min-height: 250px;
	padding: 1em 0 1em 0;
	border-bottom: dotted 1px rgb(209, 208, 208);
	/* border: solid 1px red; */
}

article p
{
	/* width: 70%; */
}

main a
{
	color: #adadad;
	/* text-decoration: underline; */
}

.contentText
{
	display: table;
	text-align: left;
	line-height: 2em;
	height: 100%;
	width:75%;
}

.imgBox {
	
}

.contentImageLeft
{
	float: left;
	margin: 2em 3em 1em 0 !important;
}

.contentImageRight
{
	float: right;
	margin: 2em 0 1em 3em !important;
}

.thumbBox
{
	/* margin: 1em auto; */
	margin-bottom: 1.5em;
	text-align: center;
	/*border: solid 1px red;*/
}

.thumbBox .thumbImg
{
	margin: 2em 1.5em 0 0;
}

.thumbImg
{
	margin-right: 1em;
	border: solid 1px #d3d3d3;
}

.centerText
{
	text-align: center;
}

.leftText
{
	text-align: left;
}

.rightText
{
	text-align: right;
}

.contactBox
{
	display: table;
	text-align: center;
	height: 100%;
	width:60%;
	/*border: 1px solid red;*/
}

.halfDivLeft /* The left half of the contact info div */
{
	float: left;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 40%;
	padding-right: 2em;
	font-size: 1.1em;
	/*border: 1px solid red;*/
}
.halfDivRight /* The right half of the contact info div */
{
	float: right;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 60%;
	font-size: 1.1em;
	/*border: 1px solid red;*/
}

#listingLink
{
	font-size: 1.3em;
		/*border: 1px solid red;*/
}