/*============================================*/
/*                  FOOTER                    */
/*============================================*/

footer
{
	display: flex;
	flex-wrap: wrap;
	min-height: 11em;
	width: 100%;
	background-color: #222222;
}

.footerWrapper
{
	width: 100%;
	margin: 0 auto;
	padding-top: 1.5em;
	/*border: 1px white solid;*/
}

.footerSpan
{
	display: block;
	text-align: center;
	/*margin-bottom: 1em;*/
	/*border: 1px solid white;*/
}

.footerSpan p
{
	font-size: 1em;
	margin-top: 0 !important;
}

#footerIcon
{
	margin-bottom: 1em;
}

footer p
{
	color: #9fa0a4;
	display: inline-block;
	margin-right: 1em;
}

footer a
{
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #9fa0a4;
	margin-right: 1em;
}

footer a:hover {
	color: gray;
	text-decoration: none;
}