/*============================================*/
/*                 NAV MENU                   */
/*============================================*/

.navContainer
{
	position: relative;
	height: 50px;
	width: 1130px;
	margin: 0 auto;
	padding-right: 2em;
	background-color: #fff;
	border-bottom: solid 1px rgb(209, 209, 209);
	box-shadow: 0 0.15em 0.35em 0 rgba(68, 68, 68, 0.135);
	z-index: 99;
    /* border: solid 1px red; */
}

.navContainer .menu
{	
	list-style-type: none;
	width: 350px;
	height: 100%;
	float: right;
	display: flex;
	text-transform: uppercase;
	/* border: solid 1px red; */
}

.navContainer .menu li
{
	flex: auto;
	text-align: center;
	/* border: 1px solid red; */
}

.menu li a
{
	font-family: 'Open Sans Condensed', 'Cairo', 'calibri', Helvetica;
	font-size: 1.4em;
	color: rgb(0, 0, 0);
	line-height: 2.3em;
	/* border: 1px solid red; */
}

.menu li a:hover
{
	color: gray;
}

.menu li.selected
{
	background: #f3f3f3;
	/* background: #70e3f7; */
	box-shadow: inset 0 0 5px #dddddd;
}

.menu li.selected a
{
	color: #000;
}