/*============================================*/
/*                  CONTACT FORM              */
/*============================================*/

.form-control
{
	margin-bottom: 1em;
}

#formBox
{
	margin: 0 auto;
	width: 40%;
	margin-top: 2em;
	margin-bottom: 1em;
}

#contact-name
{
	width: 49%;
	height: 44px;
	float: left;
}

#contact-email
{
	width: 49%;
	height: 44px;
	float: right;
}

#contact-subject
{
	width: 100%;
	height: 44px;
	float: right;
}

#contact-textarea
{
	height: 200px;
	resize: vertical;
}

#response
{
	/*display: inline-block;*/
    float:right;
    height: 0px;
}